# Python
__pycache__/
*.pyc
.venv/
venv/
dist/
*.egg-info/

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/

# Environment
.env*


# Node.js
node_modules/
dist/
build/
*.log
.npm/
.yarn/
/frontend/my-app/.next/
/frontend/my-app/out/
/frontend/my-app/build/

